* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.App {
	
	.container {
		width: 1024px;
		margin: 0 auto;
	}
	
	h1 {
		text-align: center;
	}
	
	.task {
		display: flex;
		padding: 15px;
		border: 2px solid teal;
		margin-top: 15px;
		justify-content: space-between;
		align-items: center;
	}
}